@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap");

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css");

/* 
font-family: "Pretendard Variable", Pretendard, -apple-system,
BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
"Apple SD Gothic Neo", "Malgun Gothic", "Apple Color Emoji",
sans-serif; 
*/

/* font-family: 'Oranienbaum', serif; */

body {
  background-color: #fff2d7;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    sans-serif;
  color: #6a5542;
  transition: background-color 2s ease;
}
body::-webkit-scrollbar {
  background-color: #fff2d7;
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: #6a5542;
  border-radius: 10px;
}
svg {
  width: 700px;
  height: auto;
  display: block;
  margin: auto;
}

.scatter-effect {
  opacity: 0;
  transform: translateY(20px);
}
header {
  background: fixed url(./images/beach.jpg) no-repeat 50% 80% / cover;
  width: 100%;
  height: 100vh;
  border-radius: 0 0 60px 60px;
  position: relative;
}
header .header-item-wrapper {
  width: 600px;
  margin: auto;
}
header .header-item-wrapper .lllustration {
  width: 90px;
  position: absolute;
  top: 25vh;
  right: 35vw;
}
nav {
  position: sticky;
  top: 0;
  z-index: 10000;
}
nav .global-menu {
  display: flex;
  justify-content: space-around;
}
nav .global-menu.active {
  background-color: rgba(255, 242, 215, 0.7);
  height: 52px;
  transition: background-color 2s ease;
}
nav .global-menu.active li a {
  padding: 15px;
}
nav .global-menu.active li img {
  height: 52px;
  cursor: pointer;
  padding: 0 10px;
}
nav menu li a {
  display: block;
  padding: 40px 10px;
  font-family: "Oranienbaum", serif;
  font-size: 1.2rem;
}
nav menu li img {
  width: 85px;
  cursor: pointer;
  padding: 20px 10px;
}
.main-section {
  padding: 12%;
}
.main-section h3 {
  font-family: "Oranienbaum", serif;
  font-size: 5rem;
  text-align: center;
}
.main-section .keyword-wrapper {
  width: fit-content;
  margin: 50px auto;
}
.main-section .keyword-wrapper span {
  font-size: 1.8rem;
  border: 1px solid #5e6e49;
  color: #5e6e49;
  border-radius: 30px;
  padding: 10px 15px;
  font-family: "Oranienbaum", serif;
  margin: 0 20px;
}
.main-section h4 {
  font-size: 1.6rem;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  font-family: "Oranienbaum", serif;
  line-height: 30px;
}
.project-section {
  padding: 0 12%;
  /* position: relative; */
}
.project-section h2 {
  width: fit-content;
  margin: auto;
}
.project-section .project-item-wrapper {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 5px;
  justify-items: center;
}
.project-section .project-item-wrapper .projext-item {
  width: 100%;
  text-align: center;
  padding: 15px;
}
.project-section .project-item-wrapper .projext-item img {
  width: 350px;
}
.project-section .project-item-wrapper .projext-item h3 {
  border: 1px solid #6a5542;
  border-radius: 30px;
  width: 160px;
  padding: 10px;
  font-size: 1.7rem;
  font-family: "Oranienbaum", serif;
  margin: 20px auto;
}
.project-section .project-item-wrapper .projext-item p {
  margin: 15px;
  font-size: 1.1rem;
  font-weight: 500;
}
.skills-section {
  padding: 12%;
}
.skills-section h2 {
  width: fit-content;
  margin: auto;
}
.skills-section h2 img {
  width: 600px;
}
.skills-section .skills-title {
  font-size: 3.5rem;
  font-family: "Oranienbaum", serif;
  position: relative;
  top: 30px;
  left: 20px;
}
.skills-section .skills-item {
  margin: 80px 4%;
}
.skills-section .skills-item:nth-child(2) {
  margin-top: 0;
}
.skills-section .skills-content > li {
  display: flex;
  align-items: center;
  background-color: rgba(106, 85, 66, 0.2);
  border-bottom: 1px solid #6a5542;
}
.skills-section .skills-content li strong {
  width: 50%;
  padding: 80px 0 80px 120px;
  font-size: 2rem;
  font-family: "Oranienbaum", serif;
  font-weight: 400;
}
.skills-section .skills-content li ul {
  width: 50%;
}
.skills-section .skills-content li ul li {
  padding: 5px 0;
  font-size: 1.1rem;
  font-weight: 500;
}
.skills-section .skills-content li .long {
  padding: 43.2px 0 42.9px 100px;
}
.contact-section {
  padding: 12%;
}
.contact-section .bottom-img-wrapper {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
}
.contact-section .bottom-img-wrapper img {
  width: 300px;
  margin: 0 10px;
}
/* .contact-section .bottom-item-wrapper {
  position: relative;
} */
.header-item-wrapper .button-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 120px;
  z-index: 1000;
  overflow: hidden;
}
.header-item-wrapper .button-wrapper .button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120px;
  animation: rotating infinite linear 15s;
  transition-duration: 1s;
}
/* .header-item-wrapper .button-wrapper .button.on {
  animation: rotating infinite linear 15s;
  transition-duration: 1s;
} */
@keyframes rotating {
  100% {
    transform: rotate(360deg);
  }
}
.contact-section .contact-ft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12% 0 0;
}
.contact-section .contact-ft h2 {
  width: fit-content;
}
.contact-section .contact-ft h2 img {
  width: 300px;
  position: relative;
  top: 20px;
}
.contact-section .contact-ft .ft-text-wrapper :is(p, a) {
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: 500;
}
.copyright-item p {
  margin: 10px 0;
  font-weight: bold;
  color: #5e6e49;
}
