@charset "utf-8";

@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap");

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css");

/* 
font-family: "Pretendard Variable", Pretendard, -apple-system,
BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
"Apple SD Gothic Neo", "Malgun Gothic", "Apple Color Emoji",
sans-serif; 
*/

/* font-family: 'Oranienbaum', serif; */

body {
  background-color: #fff2d7;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    sans-serif;
  color: #6a5542;
  transition: background-color 2s ease;
}
body::-webkit-scrollbar {
  background-color: #fff2d7;
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: #6a5542;
  border-radius: 10px;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10000;
}
nav menu {
  display: flex;
  justify-content: space-around;
}
nav menu li a {
  display: block;
  padding: 40px 10px;
  font-family: "Oranienbaum", serif;
  font-size: 1.2rem;
}
nav menu li:nth-child(3) a {
  padding: 0;
}
nav menu li a img {
  width: 85px;
  cursor: pointer;
  padding: 20px 10px;
}
nav .global-menu.active {
  background-color: rgba(255, 242, 215, 0.7);
  height: 52px;
  transition: background-color 2s ease;
}
nav .global-menu.active li a {
  padding: 15px;
}
nav .global-menu.active li:nth-child(3) a {
  padding: 0px;
}
nav .global-menu.active li img {
  height: 52px;
  cursor: pointer;
  padding: 0 10px;
}
.subject-section {
  margin: 200px 15% 0;
  background-color: rgba(106, 85, 66, 0.2);
  border-radius: 30px;
  position: relative;
}
.subject-section .subject-title img {
  position: absolute;
  width: 300px;
  top: -55%;
}
.subject-section .subject-title h3 {
  position: absolute;
  top: -17.8px;
  left: 20%;
  font-family: "Oranienbaum", serif;
  border: 1px solid #6a5542;
  border-radius: 30px;
  width: 120px;
  padding: 5px;
  font-size: 1.3rem;
  text-align: center;
}
.subject-section .subject-contents-wrapper {
  display: flex;
  padding: 70px 100px;
  justify-content: space-around;
}
.subject-section .subject-contents-wrapper img {
  width: 250px;
  box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.27);
}
.subject-section .subject-contents-wrapper .horizontal {
  width: 400px;
  height: 240px;
  align-self: center;
}
.subject-section .subject-contents-wrapper .subject-contents {
  width: 25%;
  margin: auto 0;
}
.subject-section .subject-contents-wrapper .subject-contents h3 {
  font-size: 1.8rem;
  font-weight: bold;
}
.subject-section .subject-contents-wrapper .subject-contents h4 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 10px 0 60px;
}
.subject-section .subject-contents-wrapper .subject-contents p {
  margin: 10px 0;
  font-size: 1.1rem;
}
.overview-section {
  margin: 0 15%;
  padding: 3% 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #6a5542;
}
section > h3 {
  border: 1px solid #6a5542;
  border-radius: 30px;
  width: 160px;
  height: 60px;
  padding: 10px 15px;
  font-size: 1.7rem;
  font-family: "Oranienbaum", serif;
  text-align: center;
}
.overview-section .overview-list {
  display: flex;
  flex-direction: column;
}
.overview-section .overview-list .overview-text {
  line-height: 1.6rem;
  width: 500px;
  align-self: flex-end;
}
.overview-section .overview-list .overview-text p {
  margin: 0 0 20px;
}
.timeline-section,
.technology-section,
.review-section,
.publishing-section,
.guide-section,
.problem-section {
  display: flex;
  margin: 0 15%;
  padding: 3% 0;
  justify-content: space-between;
  border-bottom: 1px solid #6a5542;
}
.timeline-section .timeline-content {
  display: flex;
  flex-direction: column;
}
.timeline-section ol {
  width: 500px;
}
.timeline-section ol li {
  font-size: 1.1;
  margin: 20px;
}
.technology-list,
.role-list {
  display: flex;
  margin-top: 50px;
}
.technology-list h3,
.role-list h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 20px;
  width: 150px;
}
.technology-list ul li,
.role-list ul li {
  margin: 20px 0;
  width: 500px;
}
/* .guide-section,
.problem-section {
  display: flex;
  margin: 0 15%;
  padding: 3% 0;
  justify-content: space-between;
  border-bottom: 1px solid #6a5542;
} */

.guide-section .guide-container {
  display: flex;
  flex-direction: column;
}
.guide-section .guide-container .guide-item {
  display: flex;
  margin: 20px 0;
}
.guide-section .guide-container .guide-title {
  width: 150px;
}
.guide-section .guide-container .guide-text {
  width: 500px;
}
.guide-section .guide-container .guide-text p {
  line-height: 1.6rem;
  margin: 0 0 20px;
}
.guide-section .guide-container .guide-text .typho-list {
  width: 180px;
  margin: 20px 0;
}
.guide-section .guide-container .guide-text .typho-list p:first-child {
  font-weight: bold;
  border-bottom: 2px solid #6a5542;
}
.guide-section .guide-container .guide-text .typho-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.guide-section .guide-container .guide-text .pretendard p:nth-child(2) {
  font-weight: 400;
}
.guide-section .guide-container .guide-text .pretendard p:nth-child(3) {
  font-weight: 500;
}
.guide-section .guide-container .guide-text .pretendard p:nth-child(4) {
  font-weight: 600;
}
.guide-section .guide-container .guide-text .pretendard p:nth-child(5) {
  font-weight: 700;
}
.guide-section .guide-container .guide-text .soyo p {
  font-weight: 700;
}
.guide-item .guide-text .color-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
}
.guide-item .guide-text .color-list .color-item span {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  text-indent: -9999px;
  margin: 20px;
}
.sing-green {
  background-color: #6ae589;
}
.sing-blue {
  background-color: #00c8f4;
}
.sing-yellow {
  background-color: #fffba3;
}
.sing-gray {
  background-color: #e6e6e6;
}
.sing-black {
  background-color: #3d3d3d;
}
.sing-orange {
  background-color: #fbae17;
}
.paik-orange {
  background-color: #ff5c00;
}
.paik-green {
  background-color: #5aff4b;
}
.paik-pink {
  background-color: #ff4aaa;
}
.paik-navy {
  background-color: #192c54;
}
.guide-item .guide-text li {
  line-height: 1.6rem;
  margin: 0 0 20px 0;
}
.guide-item .guide-text strong {
  display: block;
  margin: 0 0 20px;
  font-size: 1.2rem;
}
.guide-item .guide-text strong span {
  padding: 10px 10px;
  font-size: 1.4rem;
}
.guide-item .guide-text li img {
  margin: 20px 0;
}
.problem-section h3,
.review-section h3 {
  width: 180px;
  height: 80px;
  border-radius: 40px;
}
.problem-section .problem-container,
.publishing-section .publishing-container {
  display: flex;
  flex-direction: column;
}
.problem-section .problem-item,
.publishing-section .publishing-item {
  display: flex;
  margin: 20px;
}
.problem-section .problem-item .problem-title,
.publishing-section .publishing-item .publishing-title {
  width: 150px;
}
.problem-section .problem-item .problem-text,
.publishing-section .publishing-item .publishing-text {
  width: 500px;
}
.problem-section .problem-item .problem-text p,
.publishing-section .publishing-item .publishing-text p {
  margin: 20px 0;
  line-height: 25px;
}
.publishing-section .publishing-item .publishing-text p:first-child {
  margin-top: 0;
}
.problem-section .problem-item .problem-text p:first-child {
  font-weight: bold;
  margin-top: 0;
}
.review-section {
  border-bottom: none;
}
.review-section .review-container {
  width: 500px;
  display: flex;
  flex-direction: column;
}
.review-section .review-container p {
  line-height: 1.5rem;
  margin: 20px 0;
}
.proto {
  width: 208px;
}
.ppt {
  width: 213px;
}
.review {
  width: 168px;
}
.overview {
  width: 158px;
}
.guide {
  width: 148px;
}
.problem {
  width: 158px;
}
.more-btn {
  align-self: end;
}
/* section a {
  position: relative;
  z-index: 100;
} */
/* section a:hover::after {
  height: 28px;
  transition: 0.3s;
} */
.work-view {
  display: block;
  width: 180px;
  padding-left: 30px;
  color: 6e6949;
  font-size: 1rem;
  justify-content: left;
  margin-top: 60px;
  transition: 0.3s;
  font-weight: bold;
  text-align: right;
  position: relative;
  z-index: 100;
  border: 2px solid #6e6949;
  border-radius: 50px;
  padding: 8px 15px 8px 35px;
}
.work-view::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  display: block;
  width: 25px;
  height: 25px;
  background: url(./images/GitHub.svg) no-repeat 8% 50% / 24px;
  color: #5e6e49;
  filter: invert(40%) sepia(11%) saturate(1107%) hue-rotate(14deg)
    brightness(97%) contrast(86%);
}
.guide-view {
  color: #6e6949;
  font-weight: bold;
  transition: 0.2s;
  position: relative;
  top: -10px;
  z-index: 100;
  padding-right: 32px;
  border: 2px solid #6e6949;
  border-radius: 50px;
  padding: 8px 35px 8px 15px;
}
.bottom-link-wrapper a,
.more-btn {
  margin-top: 20px;
  color: #6e6949;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.5s;
  text-align: center;
  position: relative;
  z-index: 100;
  border: 2px solid #6e6949;
  border-radius: 50px;
  padding: 8px 15px 8px 0;
}
.bottom-link-wrapper a {
  padding: 8px 15px 8px 0;
  margin-right: 100px;
}
.bottom-link-wrapper {
  display: flex;
  margin: 0 15% 60px;
  padding: 3% 0;
  justify-content: left;
}
.bottom-link-wrapper a:hover,
.more-btn:hover,
.guide-view:hover,
.work-view:hover {
  background-color: #6e6949;
  color: #fff2d7;
}
.bottom-link-wrapper a:hover::after,
.more-btn:hover::after,
.guide-view:hover::after {
  filter: invert(95%) sepia(2%) saturate(2658%) hue-rotate(343deg)
    brightness(98%) contrast(109%);
}
.more-btn::after,
.bottom-link-wrapper a::after,
.guide-view::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 10px;
  display: block;
  width: 21px;
  height: 21px;
  background: url(./images/arrow_outward.svg) no-repeat 50% 50% / cover;
  filter: invert(40%) sepia(11%) saturate(1107%) hue-rotate(14deg)
    brightness(97%) contrast(86%);
}
/* .more-btn:hover::before,
.subject-contents a:hover::before,
.bottom-link-wrapper a:hover::before {
  width: 170px;
  transition: 0.3s;
  z-index: -10;
}
.more-btn::before,
.subject-contents a::before,
.bottom-link-wrapper a::before {
  content: "";
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  display: block;
  width: 0px;
  height: 30px;
  background: url(./images/color2.png) no-repeat 50% 50% / cover;
  color: #5e6e49;
} */
/* section a:hover {
  transform: translateY(5px);
} */
.subject-contents a:hover::before {
  filter: invert(95%) sepia(2%) saturate(2658%) hue-rotate(343deg)
    brightness(98%) contrast(109%);
}
